extends ../components/base/layout

block variables
  - const title = "ООО «Монолит» | Бетонная смесь" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--invert"
  - const headerActivePage = "Бетонная смесь"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "article.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const content = {
      intro: {
        dateNumber:"",
        dateMonth: "",
        dateYear:"",
        title: "Бетонная смесь",
        text: "От качества бетонной смеси, подготовки и заливки бетона зависит прочность, долговечность и надежность вашего объекта.",
      },

      textsTop: [
          {
            type: "subtitle",
            content: "Производство"
          },
          {
            type: "text",
            content: "Правильно организованный производственный процесс исключает простои и задержки в работе завода. Мы вырабатываем до 400 кубов бетона в смену, а при необходимости обслуживания большого заказа, объем можно увеличить."
          },
          {
            type: "subtitle",
            content: "Каким образом выбрать нужную марку бетона?"
          },

          {
            type: "text",
            content: "Выбирая марку бетона вы должны руководствоваться план проектом будущей постройки, на каком грунте она будет и других технических моментах."
          },
          {
            type: "text",
            content: "<b>М100-М200</b> используются для фундаментов, бетонных дорожек, и не несущих большие нагрузки постройки."
          },
          {
            type: "text",
            content: "<b>М250-М300</b> для изготовления ЖБИ изделий средней и высокой прочности."
          },
          {
            type: "text",
            content: "<b>М350-М500</b> для строительства монолитных построек, конструкций высокой прочности, бетонных стаканов и т.д."
          },

        ],
        textsBottom: [
          {
            type: "subtitle",
            content: "Доставка"
          },
          {
            type: "text",
            content: "Бетон в Шебекино доставляется спец. техникой производства (Мерседес, Тойота, Маз). Необходимо предоставить как можно больше информации о подъездных путях, о наличие узких проездов, арок, ворот или других помех для беспрепятственного проезда автобетоносмесителя."
          },
          {
            type: "text",
            content: "Для выгрузки бетона на расстоянии миксер оснащен специальной лентой - 12 метров."
          },
        ]
    }

block main
  main
    .page-overlay(data-page-overlay)
    +new-content(content)
