.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;

  color: $color-default-white;

  // background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: background-color $trans-default;

  &--red {
    // background-color: $color-torch-red;
  }

  &--blue {
    background-color: $color-mariner;

    @include has-hover {
      background-color: $color-midnight-express;
    }
  }

  &--dark-blue {
    background-color: $color-midnight-express;

    @include has-hover {
      background-color: $color-mariner;
    }
  }

  &--big {
    padding: size(23px) size(48px);

    @include vp-767 {
      display: block;
      width: 100%;
      max-width: 343px;
      text-align: center;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
