.header {
  $root: &;

  position: relative;
  z-index: 100;

  &__inner {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    display: flex;
    align-items: stretch;
    opacity: 0;
    transition: opacity $trans-1000, transform $trans-1000;

    @include vp-767 {
      z-index: 102;
    }

    // .is-menu-active .header--top & {
    //   transform: translate(#{size(-608px)}, 0);
    // }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      height: size(1px);
      background: $color-default-white-15;
      transition: background 0.2s, background-color $trans-600;

      @include vp-1439 {
        height: 1px;
      }
    }

    &::after {
      z-index: -1;
      height: auto;
      top: 0;
      background: $color-bridal-heath;
      transform: scale(1, 0);
      transform-origin: center bottom;
      transition: transform 0.2s;

      @include vp-1439 {
        height: auto;
      }

      @include vp-767 {
        transform-origin: center top;
      }
    }

    .is-menu-active & {
      // padding-right: 0 !important;

      @include vp-767 {
        &::before {
          background-color: $color-nero-10;
        }
      }
    }
  }

  &.is-fixed {
    #{$root}__inner {
      &::before {
        background: $color-nero-10;
      }

      &::after {
        transform: scale(1, 1);
      }
    }
  }

  &--top {
    #{$root}__inner {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: size(224px);
    padding: size(24px) size(48px);
    color: $color-default-white;
    transition: color $trans-600;

    @include vp-1439 {
      width: 224px;
      padding: 24px 48px;
    }

    @include vp-1023 {
      width: 176px;
      padding: 24px;
    }

    @include vp-767 {
      padding: 16px;
      width: 160px;
    }

    .is-menu-active & {
      @include vp-767 {
        color: $color-nero;

        @include has-hover {
          color: $color-nero-50;
        }
      }
    }

    &[href] {
      & svg {
        transition: opacity $trans-default;
      }

      @include has-hover {
        & svg {
          opacity: 0.5;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: size(1px);
      background: $color-default-white-15;

      @include vp-1439 {
        width: 1px;
      }

      @include vp-767 {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-midnight-express;
      transform: scale(1, 0);
      transform-origin: center bottom;
      transition: transform $trans-200;

      @include vp-767 {
        display: none;
        // transform-origin: center top;
      }
    }

    // img {
    //   width: 100%;
    //   object-fit: cover;
    // }

    svg {
      display: flex;
      width: size(128px);
      height: size(40px);

      @include vp-1439 {
        width: 128px;
        height: 40px;
      }
    }

    .is-fixed & {
      @include vp-767 {
        color: $color-nero;
      }

      &::after {
        transform: scale(1, 1);
      }
    }
  }

  &__menu-wrp {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0 0 0 size(48px);

    @include vp-1439 {
      padding: 0 0 0 48px;
    }

    @include vp-1023 {
      padding: 0 0 0 24px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background: $color-midnight-express;
      opacity: 0;
      transition: opacity $trans-1000;
      pointer-events: none;

      @include vp-767 {
        opacity: 1;
        z-index: 0;
        transform: translateX(100%);
        transition: transform $trans-1000;
        background: $color-default-white;
      }

      .is-video-open & {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: $color-default-black;
      opacity: 0;
      transition: opacity $trans-600;
      pointer-events: none;
      cursor: pointer;

      @include vp-767 {
        display: none;
      }
    }

    .is-menu-active & {
      &::after {
        transform: translateX(0);
      }

      &::before {
        opacity: 0.5;
        pointer-events: auto;
      }
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 size(42px);
    border-left: size(1px) solid $color-default-white-15;

    @include vp-1439 {
      padding: 0 42px;
      border-left-width: 1px;
    }

    @include vp-767 {
      position: relative;
      z-index: 1;
      padding: 0 16px;
      border-left: none;
    }

    .is-fixed & {
      border-left-color: $color-nero-10;
    }
  }

  &__link.link {
    padding: size(6px);
    color: $color-default-white;

    @include vp-1439 {
      padding: 6px;
    }

    @include has-hover {
      color: $color-default-white-50;
    }

    .is-fixed & {
      color: $color-nero;

      @include has-hover {
        color: $color-nero-50;
      }
    }

    .is-menu-active & {
      @include vp-767 {
        color: $color-nero;

        @include has-hover {
          color: $color-nero-50;
        }
      }
    }
  }

  &__menu-toggle-wrp {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 size(42px);
    border-left: size(1px) solid $color-default-white-15;
    transition: background-color $trans-600, border-left-color $trans-600;

    @include vp-1439 {
      padding: 0 42px;
      border-left-width: 1px;
    }

    @include vp-767 {
      z-index: 1;
      padding: 0 16px;
    }

    .is-fixed & {
      border-left-color: $color-nero-10;
    }

    .is-menu-active & {
      @include vp-767 {
        border-left-color: $color-nero-10;
      }

      &::after {
        transform: scale(1, 1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-default-white;
      transform: scale(0, 1);
      transform-origin: right center;
      transition: transform $trans-600;

      @include vp-767 {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      // right: 0;
      bottom: 0;
      width: 100%;
      background-color: $color-default-white;

      @include vp-767 {
        display: none;
      }
    }
  }

  &__quotes-wrp {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 size(42px);

    @include vp-1439 {
      padding: 0 42px;
    }

    @include vp-1023 {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-lucky-point;
      transform: scale(1, 0);
      transform-origin: center top;
      transition: transform $trans-600;

      .is-quotations-open & {
        transform: scale(1, 1);
      }
    }
  }

  &__quotes {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: size(6px);
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @include vp-1439 {
      padding: 6px;
    }

    @include has-hover {
      #{$root}__quotes-title {
        color: $color-default-white-50;
      }
    }

    .is-fixed & {
      @include has-hover {
        #{$root}__quotes-title {
          color: $color-nero-50;
        }
      }
    }
  }

  &__quotes-title {
    color: $color-default-white;
    opacity: 1;
    transition: color $trans-default, opacity $trans-default;

    &--open {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    .is-fixed & {
      color: $color-nero;
    }

    .is-quotations-open & {
      &--close {
        opacity: 0;
      }

      &--open {
        opacity: 1;
      }
    }
  }

  &__active {
    display: flex;
    align-items: center;
    padding: 0 size(24px);

    @include vp-1439 {
      padding: 0 24px;
    }

    @include vp-767 {
      display: none;
    }

    svg {
      width: size(24px);
      height: size(24px);
      margin: 0 size(24px) 0 0;

      @include vp-1439 {
        width: 24px;
        height: 24px;
        margin: 0 24px 0 0;
      }
    }
  }

  &__active-title {
    color: $color-nero-50;
  }

  &__menu-toggle {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: size(6px) size(6px) size(6px) size(56px);
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @include vp-1439 {
      padding: 6px 6px 6px 56px;
    }

    @include vp-767 {
      padding: 32px 32px 0 0;
    }

    @include has-hover {
      #{$root}__toggle-title {
        color: $color-default-white-50;
      }

      &::before,
      &::after {
        background: $color-default-white-50;
      }
    }

    .is-fixed &,
    .header--invert &,
    .is-menu-active & {
      @include has-hover {
        #{$root}__toggle-title {
          color: $color-nero-50;
        }

        &::before,
        &::after {
          background: $color-nero-50;
        }
      }
    }

    &::before,
    &::after {
      --offset: #{size(-4px)};
      --rotate: 45deg;

      content: "";
      position: absolute;
      left: size(22px);
      top: 50%;
      transform: translate(0, calc(-50% + var(--offset)));
      z-index: 1;
      width: size(34px);
      height: size(1px);
      background: $color-default-white;
      transition: background $trans-default, width $trans-default;
      animation: burger-line-hide 1s forwards;

      @include vp-1439 {
        --offset: -4px;

        left: 22px;
        width: 34px;
        height: 1px;
      }

      @include vp-767 {
        left: 50%;
        width: 24px;
      }
    }

    &::after {
      --offset: #{size(4px)};
      --rotate: -45deg;

      @include vp-1439 {
        --offset: 4px;
      }
    }

    .is-fixed &,
    .header--invert &,
    .is-menu-active & {
      &::after,
      &::before {
        background: $color-nero;
      }
    }

    .is-menu-active & {
      &::before,
      &::after {
        width: size(26px);
        animation: burger-line-show 1s forwards;
      }
    }
  }

  &__toggle-title {
    color: $color-default-white;
    transition: color $trans-default;

    @include vp-767 {
      position: absolute;

      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;

      white-space: nowrap;

      border: 0;

      clip: rect(0 0 0 0);
      clip-path: inset(100%);
    }

    .is-fixed &,
    .header--invert &,
    .is-menu-active & {
      color: $color-nero;
    }
  }

  &--invert {
    #{$root}__inner {
      &::before {
        background: $color-nero-10;
      }
    }

    #{$root}__logo {
      @include vp-767 {
        color: $color-nero;
      }

      &::after {
        transform: scale(1, 1);
      }
    }

    #{$root}__lang,
    #{$root}__menu-toggle-wrp {
      border-left-color: $color-nero-10;
    }

    #{$root}__link.link {
      color: $color-nero;

      @include has-hover {
        color: $color-nero-50;
      }
    }

    #{$root}__quotes-title {
      color: $color-nero;
    }

    #{$root}__quotes {
      @include has-hover {
        #{$root}__quotes-title {
          color: $color-nero-50;
        }
      }
    }
  }

  &.is-hidden {
    .header__inner {
      @include vp-767 {
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
