.link-download {
  $root: &;

  display: inline-flex;
  align-items: center;
  outline: none;

  @include has-hover {
    #{$root}__icon {
      background-color: $color-mariner;
    }
  }

  &--white {
    @include has-hover {
      #{$root}__icon {
        background-color: $color-default-white;
        color: $color-nero;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: size(48px);
    height: size(48px);
    background: $color-midnight-express;
    border-radius: 50%;
    transition: background-color $trans-default,
      color $trans-default;
    color: $color-default-white;
    margin-right: size(12px);

    @include vp-1439 {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }

    svg {
      display: block;
      width: size(20px);
      height: size(20px);

      @include vp-1439 {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__info {
    color: $color-nero-50;
  }
}
