.main-nav {
  $root: &;

  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  transform: translateX(0);
  z-index: 101;
  display: flex;
  align-items: stretch;
  width: size(608px);
  // min-height: 100vh;
  /* stylelint-disable-next-line */
  // min-height: calc(100 * var(--vh, 1vh));
  padding: size(84px) 0 size(48px);
  background-color: $color-default-white;
  transition: transform $trans-1000,
    left $trans-600;

  @include vp-1439 {
    width: 608px;
    padding: 84px 0 48px;
  }

  @include vp-1023 {
    width: 508px;
  }

  @include vp-767 {
    width: 100%;
    padding: calc(var(--header-height) + 20px) 0 16px;
  }

  .is-menu-active & {
    @include vp-767 {
      transform: translateX(-100vw);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: size(1px);
    background-color: $color-nero-10;

    @include vp-1439 {
      width: 1px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;

    @include vp-767 {
      // height: 100%;
      overflow-y: auto;
    }

    .container {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 size(24px);
    padding: 0;
    list-style: none;

    @include vp-1439 {
      margin: 0 0 24px;
    }
  }

  &__item {
    overflow: hidden;

    @include vp-767 {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin: 0 0 size(24px);

      @include vp-1439 {
        margin: 0 0 24px;
      }

      @include vp-767 {
        margin: 0 0 16px;
      }
    }
  }

  &__link.link {
    display: block;
    transform: translateY(100%);
    transition: transform $trans-600 0.9s,
      color $trans-default;

    &.is-active {
      opacity: 0.6;
      pointer-events: none;
    }

    .is-menu-active & {
      transform: translateY(0);
    }
  }

  &__download-link {
    margin: auto 0 0;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity $trans-600 0.9s,
      transform $trans-600 0.9s;

    .link-download {
      @include has-hover {
        .link-download__icon {
          background-color: $color-mariner;
          color: $color-default-white;
        }
      }
    }

    .is-menu-active & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
