.resources {
  grid-column: 2/3;
  margin: 0;
  max-width: size(671px);
  font-size: size(14px);
  line-height: size(22px);
  margin: 0 auto;

  @include vp-1439 {
    max-width: 671px;
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    width: 100%;
  }

  &__places {
    list-style: none;
    padding: 0;

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    margin-top: size(48.5px);
    padding-bottom: size(26px);
    border-bottom: 1px solid $color-nero-10;

    @include vp-1023 {
      padding-left: 24px;
      padding-right: 24px;
    }

    @include vp-767 {
      margin-top: 0;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 0;
      background-color: $color-transparent;
      border-top: 1px solid $color-nero-10;
      border-bottom: none;
      transition: background-color $trans-default;

      @include has-hover {
        background-color: $color-spring-wood;
      }

      &:nth-child(2) {
        order: 1;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.is-active {
      border-top: 1px solid $color-nero-10;
      padding-bottom: 42px;
      background-color: $color-spring-wood;
      transition: background-color $trans-600;
      cursor: initial;

      & .table {
        display: table;
        width: 100%;
      }

      & .resources__toggle {
        background: $color-midnight-express;
        color: $color-default-white;
      }

      & .resources__open {
        display: none;
      }

      & .resources__close {
        display: block;
      }

      & .resources__place {
        padding-bottom: 0;
      }
    }
  }

  &__place {
    display: block;

    @include vp-767 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 16px;
      cursor: pointer;

      @include has-hover {
        & .resources__toggle {
          background-color: $color-mariner;
          color: $color-default-white;
        }
      }
    }
  }

  &__title {
    margin: -3px 0 size(27px);
    font-weight: 500;

    @include vp-767 {
      text-transform: uppercase;
      margin-bottom: 2px;
    }
  }

  &__toggle {
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: size(48px);
    height: size(48px);
    background: $color-transparent;
    border-radius: 50%;
    border-style: none;
    border: 1px solid $color-nero-10;
    transition: background-color $trans-default, color $trans-default;
    color: $color-nero;
    cursor: pointer;

    @include has-hover {
      background-color: $color-mariner;
    }

    @include vp-767 {
      display: flex;
    }

    svg {
      width: size(20px);
      height: size(20px);

      @include vp-1439 {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__open {
    display: block;
  }

  &__close {
    display: none;
  }
}
