.section-intro {
  padding-top: size(72px);
  margin-top: var(--header-height);

  @include vp-1023 {
    padding-top: 42px;
  }

  @include vp-767 {
    padding-top: 32px;
  }

  &--company {
    .section-intro__column {
      width: 41.7%;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--operations {
    .section-intro__content {
      margin: 0 0 size(60px);

      @include vp-767 {
        margin: 0 0 40px;
      }
    }

    .section-intro__column:first-child {
      flex-shrink: 0;
      width: 41.7%;
      margin-right: 0;
    }

    .section-intro__interactive {
      aspect-ratio: unset;
    }
  }

  &--contacts {
    @include vp-767 {
      .section-intro__title {
        display: none;
      }
    }
  }

  &__header {
    display: none;

    @include vp-1023 {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: size(64px);

    @include vp-767 {
      margin-bottom: 24px;
    }

    &--mob {
      display: none;
    }

    @include vp-1023 {
      &--desc {
        display: none;
      }

      &--mob {
        display: block;
      }
    }

    span[data-city-detail-time] {
      margin-left: size(15px);
      color: $color-nero-50;

      @include vp-1439 {
        margin-right: 15px;
      }
    }
  }

  &__city {
    position: relative;
    padding: 0;

    font-weight: inherit;
    font-size: inherit;
    text-transform: uppercase;
    color: $color-nero;
    border: none;
    background-color: $color-transparent;

    cursor: pointer;

    transition: opacity $trans-default;

    @include has-hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: size(5px);
      width: 100%;
      height: 1px;

      border-width: 0;
      background-color: $color-transparent;

      border-bottom-width: size(1px);
      border-style: dashed;
      border-color: $color-transparent;

      transition: color $trans-default, border-color $trans-default;

      @include vp-1439 {
        bottom: 5px;
      }
    }

    &.is-active {
      &::before {
        border-color: $color-nero;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    padding-top: size(64px);
    margin-bottom: size(64px);
    padding-left: size(48px);
    padding-right: size(48px);
    border-top: 1px solid $color-nero-10;

    @include vp-1023 {
      padding-left: 24px;
      padding-right: 24px;
    }

    @include vp-767 {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 0;
      border-top: none;
    }
  }

  &__column {
    @include vp-767 {
      width: 100%;

      &:first-child {
        display: none;
      }
    }
  }

  &__text {
    margin-top: 0;
    // font-size: size(16px);
    // line-height: size(24px);

    &:last-of-type {
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;

      & br {
        display: none;
      }
    }
  }

  &__interactive {
    width: 100%;
    aspect-ratio: 1440 / 780;

    @include vp-767 {
      aspect-ratio: 375 / 210;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__column-header {
    margin: 0 0 size(40px);

    @include vp-767 {
      position: relative;
      margin: 18px 0 24px;
      padding: 24px 0 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -16px;
        width: 100vw;
        height: 1px;
        background-color: $color-nero-10;
      }
    }

    br {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }

  &__big-title {
    margin: 0 size(6px) 0 0;
    line-height: 100%;
  }

  &__card-title {
    margin: 0 0 size(10px);
  }

  &__card-text {
    color: $color-nero-50;
  }

  .user-card {
    margin: size(64px) 0 0;

    @include vp-767 {
      margin: 95px 0 0;
    }

    &__name {
      font-size: size(16px);
      line-height: size(22px);
    }
  }
}
