mixin running-line()
  .swiper-container.running-line(data-running-line)
    .swiper-wrapper.running-line__content
      .swiper-slide.running-line__item
        +icon("logo-text-line", 793, 52)
      .swiper-slide.running-line__item
        +icon("logo-text-line", 793, 52)
      .swiper-slide.running-line__item
        +icon("logo-text-line", 793, 52)
