// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-black-30: rgba(0, 0, 0, 0.3);
$color-default-white: #ffffff;
$color-default-white-50: rgba(255, 255, 255, 0.5);
$color-default-white-15: rgba(255, 255, 255, 0.15);
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-midnight-express: #17214a;
$color-midnight-express-70: rgba(23, 33, 74, 0.7);
$color-lucky-point: #1d295c;
$color-mariner: #335999;
$color-spring-wood: #ebded1;
$color-bridal-heath: #f3ebe3;
$color-hurricane: #807b78;
$color-zorba: #9c958f;
$color-nero: #262626;
$color-nero-70: rgba(38, 38, 38, 0.7);
$color-nero-50: rgba(38, 38, 38, 0.5);
$color-nero-20: rgba(38, 38, 38, 0.2);
$color-nero-15: rgba(38, 38, 38, 0.15);
$color-nero-10: rgba(38, 38, 38, 0.1);
$color-persian-red: #ca3f3f;
$color-link-water: #c1c3cd;
$color-apple: #61ad3d;

// Gradient

$black-to-right: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.75) 0%,
  rgba(0, 0, 0, 0) 75%
);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-grandis-extended: "Grandis Extended", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-200: 0.2s $tf-default;
$trans-600: 0.6s $tf-default;
$trans-600-smooth: 0.6s cubic-bezier(0.78, 0.37, 0.94, 0.58);
$trans-1000: 1s $tf-default;
$trans-1000-smooth: 1s cubic-bezier(0.78, 0.37, 0.94, 0.58);

// Viewports
// ---------------------------------

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
$vp-3200: 3200px;

// Viewport height

$vh-700: 700px;
$vh-800: 800px;
$vh-900: 900px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
