mixin rotate ()
  .rotate
    .rotate__content
      +picture("content", "rotate", "png", 98, 105, "Поверните телефон")
      .rotate__text-container
        h2.rotate__title Поверните устройство
        p.rotate__text  Поверните устройство в&nbsp;портретный режим для&nbsp;продолжения использования сайта.
