mixin slider-controls()
  .slider-controls&attributes(attributes)
    button.slider-controls__btn.slider-controls__btn--prev(type="button", aria-label="Предыдущий слайд", data-btn-prev)
      +icon("arrow-left", 24, 24)

    button.slider-controls__btn.slider-controls__btn--next(type="button", aria-label="Следующий слайд", data-btn-next)
      +icon("arrow-right", 24, 24)


